<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"https://www.hibernate.org/dtd/hibernate-cofiguration-3.0 dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
  
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/employee_management</property>

        <property name = "hibernate.connection.username">root</property>
		

        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name = "hibernate.current_session_context_class">thread</property>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name = "hibernate.show_sql">true</property>
		<property name = "hibernate.enable_lazy_load_no_trans">true</property>

        <property name = "hibernate.hbm2ddl.auto">update</property>
		<mapping class = "com.model.Employee"/>
		<mapping class = "com.model.Department"/>
		<mapping class = "com.model.Skill"/>
    </session-factory>  
  
</hibernate-configuration>